# dependencies
node_modules/

# build output
dist/
.astro/

# env
.env
.env.local
.env.production

# logs
*.log
npm-debug.log*

# os
.DS_Store
Thumbs.db

# editors
.vscode/
.idea/

# studio
studio/dist/
studio/node_modules/
studio/.sanity/
